<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Properties &#8211; Carmodyrealestates.com</title>
	<atom:link href="https://carmodyrealestates.com/properties/feed/" rel="self" type="application/rss+xml" />
	<link>https://carmodyrealestates.com</link>
	<description>Real estate at its best</description>
	<lastBuildDate>Fri, 16 Jun 2023 12:20:44 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.8.1</generator>
	<item>
		<title>Modern apartment in the city center</title>
		<link>https://carmodyrealestates.com/properties/apartment/chicago/modern-apartment-in-the-city-center/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 07 Oct 2017 13:00:50 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=113</guid>

					<description><![CDATA[Property overview 3 bedroom flat , with all utilities and POOL already in! Gorgeous and secluded lot with panoramic views, located on ten acres at the end of a gated cul-de-sac on a paved private road. Centerville water meter, PG&#38;E, and septic are in. RV hookups ready to go. Located in Grant School District near [&#8230;]]]></description>
										<content:encoded><![CDATA[<h2 class="Text__StyledText-rui__sc-1j9ntoo-0 fLgQTy TypeHeadline__StyledHeadline-rui__qeenva-0 jrvkTN styles__OverviewHeader-sc-k34o92-1 fPXWdZ">Property overview</h2>
<div class="Text__StyledText-rui__sc-1j9ntoo-0 ereVYh TypeInfo__StyledInfo-rui__m9gzjc-0 dvUWaJ styles__OverviewText-sc-16f46py-0 cZbIFI">3 bedroom flat , with all utilities and POOL already in! Gorgeous and secluded lot with panoramic views, located on ten acres at the end of a gated cul-de-sac on a paved private road. Centerville water meter, PG&amp;E, and septic are in. RV hookups ready to go. Located in Grant School District near West Side Trails and Whiskeytown Recreational Area. Property borders Clear Creek frontage. No drive by access due to gates on the road and the property.</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Minimalist and bright flat</title>
		<link>https://carmodyrealestates.com/properties/apartment/new-york/minimalist-and-bright-flat/</link>
		
		<dc:creator><![CDATA[Williams Carmody]]></dc:creator>
		<pubDate>Sat, 07 Oct 2017 12:00:04 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=94</guid>

					<description><![CDATA[Enveloped in the lush landscape and bound by the masterful vision of icons in quality and thoughtful execution, award-winning architectural firm Tag Front and world-renowned interior designer Cesar Giraldo, 1859 Bel Air Road offers 20,000 square feet of venerable beauty and an artful abundance of sophistication. The sleek curvature of the exterior of the house [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Enveloped in the lush landscape and bound by the masterful vision of icons in quality and thoughtful execution, award-winning architectural firm Tag Front and world-renowned interior designer Cesar Giraldo, 1859 Bel Air Road offers 20,000 square feet of venerable beauty and an artful abundance of sophistication. The sleek curvature of the exterior of the house is a work of art in itself, with clean lines, geometric shapes, and a contemporary design that exudes sophistication and elegance.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Bright apartment</title>
		<link>https://carmodyrealestates.com/properties/apartment/los-angeles/bright-apartment/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 07 Oct 2017 08:00:35 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=129</guid>

					<description><![CDATA[A masterpiece of artful design nestled in the secluded hills of Bel Air, this one-of-a kind, breathtaking home immediately transports you to a level of world-class beauty, serenity, and tranquility from the moment you enter the privately gated driveway. The home itself is a work of art, with exquisite attention to detail and a careful [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>A masterpiece of artful design nestled in the secluded hills of Bel Air, this one-of-a kind, breathtaking home immediately transports you to a level of world-class beauty, serenity, and tranquility from the moment you enter the privately gated driveway. The home itself is a work of art, with exquisite attention to detail and a careful balance of form and function makes this oasis rare. The open concept living spaces flow seamlessly together, offering a sense of spaciousness and warmth. Floor-to-ceiling windows flood the interior with natural light, while showcasing the breathtaking views of the surrounding landscape. Each room is thoughtfully programmed to create a harmonious yet functional atmosphere. The inviting living room fireplace, the spacious chef&#8217;s kitchen with an oversized island, slab natural stone countertops and custom natural wood cabinetry all against a canyon backdrop, the spa-like primary</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Two storey modern flat</title>
		<link>https://carmodyrealestates.com/properties/house/los-angeles/two-storey-modern-flat/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Sat, 07 Oct 2017 07:00:47 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=72</guid>

					<description><![CDATA[Inspired by its riverside surroundings, The Levee will incorporate four connected developments built on a peninsula’s end along the Saco River and form a distinctive downtown community for residents, visitors, and neighbors. Connected to the RiverWalk and steps away from Biddeford’s historic downtown, The Levee will be thoughtfully curated to create a vibrant riverside destination [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Inspired by its riverside surroundings, The Levee will incorporate four connected developments built on a peninsula’s end along the Saco River and form a distinctive downtown community for residents, visitors, and neighbors. Connected to the RiverWalk and steps away from Biddeford’s historic downtown, The Levee will be thoughtfully curated to create a vibrant riverside destination complete with modern residential communities, boutique shops, and local dining.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Place perfect for nature lovers</title>
		<link>https://carmodyrealestates.com/properties/house/chicago/place-perfect-for-nature-lovers/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 06 Oct 2017 22:00:23 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=92</guid>

					<description><![CDATA[Flawlessly executed, an estate of ultimate exclusivity on nearly an acre of privately-gated land, this trophy property was built by architect William Beckett to capture an architectural escape while boasting the most luxurious of amenities and sited in prime Beverly Hills. Fully reimagined in 2015, large walls of glass bathing the open rooms in natural [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Flawlessly executed, an estate of ultimate exclusivity on nearly an acre of privately-gated land, this trophy property was built by architect William Beckett to capture an architectural escape while boasting the most luxurious of amenities and sited in prime Beverly Hills. Fully reimagined in 2015, large walls of glass bathing the open rooms in natural light, a quintessential wooden curved wall gives a nod to the midcentury architecture and matches the curvature of the exterior grand entrance, and a state-of-the-art chefs kitchen with Miele appliances create a home of functionality and sophistication.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Summer house with a pole</title>
		<link>https://carmodyrealestates.com/properties/house/new-york/summer-house-with-a-pole/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 06 Oct 2017 18:00:17 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=125</guid>

					<description><![CDATA[One of the most significant properties in exclusive guard gated community of Moraga Estates. Rarely does a home of this quality become available. This stunning home is situated on a private parklike 2+ acre parcel. Home with exquisite style &#38; perfect for indoor outdoor entertaining lifestyles. Large formal entry leads to living &#38; dining rooms [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>One of the most significant properties in exclusive guard gated community of Moraga Estates. Rarely does a home of this quality become available. This stunning home is situated on a private parklike 2+ acre parcel. Home with exquisite style &amp; perfect for indoor outdoor entertaining lifestyles. Large formal entry leads to living &amp; dining rooms that open to large covered patio w/ fireplace.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Affordable office space</title>
		<link>https://carmodyrealestates.com/properties/office/chicago/affordable-office-space/</link>
		
		<dc:creator><![CDATA[Williams Carmody]]></dc:creator>
		<pubDate>Fri, 06 Oct 2017 18:00:02 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=818</guid>

					<description><![CDATA[Located in Carlsbad, California, Avanti Workspace offers a wide range of unique &#38; flexible workspace, private office, shared office, and coworking space solutions to fit the needs of any business at any stage of growth. Our community includes a diverse mix of start-ups, tech companies, independent professionals &#38; consultants, lifestyle brands, and small-to-mid-sized businesses across [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Located in Carlsbad, California, Avanti Workspace offers a wide range of unique &amp; flexible workspace, private office, shared office, and coworking space solutions to fit the needs of any business at any stage of growth. Our community includes a diverse mix of start-ups, tech companies, independent professionals &amp; consultants, lifestyle brands, and small-to-mid-sized businesses across many other verticals who all innovate on their own time, in their own lane.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Full Floor Office Condo</title>
		<link>https://carmodyrealestates.com/properties/office/los-angeles/full-floor-office-condo/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 06 Oct 2017 12:30:02 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=578</guid>

					<description><![CDATA[Rarely does a condominium come to the market that &#8220;checks all the boxes&#8221; like this one! Located barely a block from Whole Foods, this 2 bedroom rear, corner Penthouse with only one common wall features soaring beamed ceilings, unimpeded views from the city to the ocean and a spacious upstairs loft with rooftop access and [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Rarely does a condominium come to the market that &#8220;checks all the boxes&#8221; like this one! Located barely a block from Whole Foods, this 2 bedroom rear, corner Penthouse with only one common wall features soaring beamed ceilings, unimpeded views from the city to the ocean and a spacious upstairs loft with rooftop access and more views. This home features the optimal floor plan with two voluminous ensuite bedrooms that are separated by massive living and dining room, ideal privacy for guests, a roommate, or as a home office. The unit also features an eat-in kitchen that opens to the entertainment areas and a side-by-side laundry closet.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Modern house with the great view</title>
		<link>https://carmodyrealestates.com/properties/house/chicago/modern-house-with-the-great-view/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 06 Oct 2017 10:00:22 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=102</guid>

					<description><![CDATA[Introducing 1235 Scholl Lane, a captivating gem nested on a private cul de sac in the heart of midtown Santa Cruz. Just moments away from locals&#8217; favorite Blacks Point beach, the Santa Cruz Harbor and Schwan Lake Park, as well as the midtown farmers market and a slew of popular and vibrant downtown shops and [&#8230;]]]></description>
										<content:encoded><![CDATA[<div class="dp-col-sm-12 dp-col-md-8" data-react-server-root-id="25" data-react-server-timing-offset="357">
<section class="bp-Section MainHouseInfoPanel font-body-base">
<div class="sectionContainer">
<div class="house-info-container">
<div id="house-info" class="house-info" data-rf-test-id="house-info">
<div class="bhi" data-rf-test-id="mhi-housesummary">
<div class="content clear-fix">
<div class="remarks">
<div id="marketingRemarks-preview" class="expandableSection collapsed ExpandablePreview marketingRemarks" data-rf-test-id="listingRemarks">
<div class="sectionContentContainer" aria-hidden="true">
<div class="sectionContent">
<div id="marketing-remarks-scroll" class="remarks" data-rf-test-id="listingRemarks">
<p class="">Introducing 1235 Scholl Lane, a captivating gem nested on a private cul de sac in the heart of midtown Santa Cruz. Just moments away from locals&#8217; favorite Blacks Point beach, the Santa Cruz Harbor and Schwan Lake Park, as well as the midtown farmers market and a slew of popular and vibrant downtown shops and restaurants. This traditional Santa Cruz bungalow offers a unique blend of updated amenities and timeless charm, making it the perfect coastal retreat. With its functional layout, abundant natural light, expansive decks and patios, and well established landscaping, this property creates a quiet and secluded atmosphere ideal for soaking in the soothing ocean breeze. The detached accessory structure and an 8,000+sqft lot presents a myriad of opportunities for a savvy buyer. This family home is on the market for the first time, offering a rare opportunity to experience the quintessential Santa Cruz lifestyle at its finest.</p>
</div>
</div>
</div>
<div class="sectionBottomLinkContainer">
<div class="sectionBottomLink"><button class="ExpandableLink clickable" tabindex="0" type="button" aria-label="Show all content" aria-expanded="false" aria-controls="">Show more</button></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="dp-col-sm-12 dp-col-md-8" data-react-server-root-id="26" data-react-server-timing-offset="357">
<div class="bhi" data-rf-test-id="mhi-housesummary">
<div class="content clear-fix">
<div class="agent-info-section">
<div class="agent-info-container">
<div class="agent-info-heading"></div>
<div class="agent-info-content color-text-secondary">
<div class="listing-agent-item">
<div class="agent-info-item flex flex-wrap" data-rf-test-id="agentInfoItem-agentDisplay"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Gracious condo in Portland’s West End</title>
		<link>https://carmodyrealestates.com/properties/house/chicago/elegant-studio-flat/</link>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Wed, 04 Oct 2017 17:30:12 +0000</pubDate>
				<guid isPermaLink="false">http://localhost/newhome/?post_type=estate&#038;p=128</guid>

					<description><![CDATA[Behind a cheery, red door in this handsome line of brick row houses lies a special Portland home! This is the only condo in the association that boasts a private entrance from Park Street &#38; has direct access from the back courtyard. Gracious in style and size, this unit was renovated to the studs with [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Behind a cheery, red door in this handsome line of brick row houses lies a special Portland home! This is the only condo in the association that boasts a private entrance from Park Street &amp; has direct access from the back courtyard. Gracious in style and size, this unit was renovated to the studs with timeless updates.</p>
<p>&nbsp;</p>
<p>The oversized living room features high ceilings, a wall of built-ins, and a charming fireplace surround. Custom cabinetry in the mudroom hides a clever work station. The kitchen is bright &amp; efficient, with a Viking gas range &amp; floor-to-ceiling storage. There&#8217;s plenty of space for dining, or continue out the back door for patio access &amp; a grill! Marble-tiled floor &amp; shower and a custom vanity in the bath make a modern statement. Enjoy the convenience of a reserved parking space, in-unit W/D &amp; additional storage in the basement. Steps to all of Portland&#8217;s favorite dining &amp; entertainment locales!</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
